Source: diceware
Section: utils
Priority: optional
Maintainer: Benjamin Toll <ben@benjamintoll.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://benjamintoll.com
#Vcs-Browser: https://salsa.debian.org/debian/diceware
#Vcs-Git: https://salsa.debian.org/debian/diceware.git
Rules-Requires-Root: no

Package: diceware
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Create Diceware passphrase
 Make new friends and enemies.
